<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage your tasks!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css" th:href="@{/style.css}"/>
</head>

<body>
<div class="content mt-4">
    <h1 class="mt-4">Tasks list</h1>
    <button type="button"
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            th:each="task : ${allNotDoneTasks}">
        <span th:text="|${task.description} ${task.status} ${task.startDate} ${task.deadline}|"></span>
        <a th:href="|/done?id=${task.id}|" class="badge badge-primary badge-pill">Mark as DONE</a>
    </button>

    <div class="content">
        <h1>DONE Tasks list</h1>
        <button type="button"
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                th:each="task : ${allDoneTasks}">
            <span th:text="|${task.description} ${task.status} ${task.startDate} ${task.deadline}|"></span>
        </button>

        <!--<a href="/alltasks" methods="get">All tasks</a><br>-->
        <!--<a href="/alltasks?status=TODO" methods="get">All TODO tasks</a><br>-->
        <!--<a href="/alltasks?status=IN_PROGRESS" methods="get">All IN_PROGRESS tasks</a><br>-->
        <!--<a href="/alltasks?status=DONE" methods="get">All DONE tasks</a><br>-->

    </div>
</div>

<div class="content mt-4">
    <h1 class="mt-4">Add new task</h1>
    <form action="/add" method="post" th:object="${emptyTask}">
        <label for="description">Task description</label><br>
        <input type="text" name="description" id="description" th:field="*{description}" placeholder="Task description">
        <br>
        <label for="status">Task status</label><br>
        <select name="status" id="status">
            <option th:each="t : ${T(com.pepe.springdata.Status).values()}"
                    th:value="${t}" th:text="${t}"></option>
        </select><br>
        <label for="date">Start date</label><br>
        <input type="date" name="date" id="date" th:field="*{startDate}" placeholder="Task start date"> <br>
        <label for="date">Deadline!</label><br>
        <input type="date" name="deadline" id="deadline" th:field="*{deadline}" placeholder="Deadline"> <br>
        <input type="submit" value="Add new task"> <br>
    </form>
    <br>
</div>
</body>
</html>