<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<form action="/add" method="post" th:object="${emptyTask}">
    <input type="text" th:field="*{description}" placeholder="Task description"> <br>
    <input type="text" th:field="*{status}" placeholder="Task status"> <br>
    <input type="date" th:field="*{startDate}" placeholder="Task start date"> <br>
    <input type="submit" value="Add new task"> <br>
</form>
<br>
<a href="/alltasks" methods="get" >All tasks</a><br>
<a href="/alltodotasks?status=TODO" methods="get" >All TODO tasks</a><br>
<a href="/alltodotasks?status=IN_PROGRESS" methods="get" >All IN_PROGRESS tasks</a><br>
<a href="/alltodotasks?status=DONE" methods="get" >All DONE tasks</a><br>

</body>
</html>