<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<form action="/add" method="post" th:object="${emptyTask}">
    <input type="text" th:field="*{description}"> <br>
    <input type="text" th:field="*{status}"> <br>
    <input type="date" th:field="*{startDate}"> <br>
    <input type="submit" value="Add new task"> <br>
</form>

<form action="/alltasks" method="get">
    <input type="submit" value="Show all tasks"/>
</form>

<form action="/allToDoTasks" method="get">
    <input type="submit" value="Show all tasks"/>
</form>
</body>
</html>