<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<title>Lista zadań</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/style.css" th:href="@{/style.css}"/>
</head>
<body>
<h1 class="mt-4">Tasks list</h1>
    <div class="content mt-4" >
        <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                th:each="task : ${allTask}" >
            <span th:text="|${task.description} ${task.status} ${task.startDate} ${task.deadline}|"></span>
            <a th:href="|/done?id=${task.id}|" class="badge badge-primary badge-pill">Mark as DONE</a>
        </button>

        <h1 class="mt-4">DONE tasks list</h1>
        <div class="content mt-4" >
            <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    th:each="task : ${allDoneTask}" >
                <span th:text="|${task.description} ${task.status} ${task.startDate} ${task.deadline}|"></span>
            </button>

<!--<ul class="list-group">-->
<!--    <ul>-->
<!--        <li th:each="t : ${allTask}" th:text="|${task.description} ${task.status} ${task.startDate} ${task.deadline}|"></li>-->
<!--    </ul>-->
<!--</ul>-->
    </div>
</div>
</body>
</html>